# Environment
.env

# Ruby
*.gem
*.rbc
.bundle
vendor/bundle

# Database
*.sqlite3
*.db
db/*.sqlite3

# Logs
*.log
log/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# Testing
coverage/
.coverage

# Temporary files
tmp/
temp/
