# fly.toml app configuration file generated for slack-meet-command on 2026-01-31T05:15:55Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'slack-meet-command'
primary_region = 'lax'

[build]

[env]
  PORT = '8080'
  RACK_ENV = 'production'
  DATABASE_URL = "sqlite:///data/production.sqlite3"
  GA_MEASUREMENT_ID = "G-4XB4GHSXN0"

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '5s'
    method = 'get'
    path = '/health'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
