app = "slack-meet-command"
primary_region = "sjc"

[build]

[env]
  RACK_ENV = "production"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "5s"
    method = "get"
    path = "/health"

[vm]
  size = "shared-cpu-1x"
  memory = "256mb"

[[mounts]]
  source = "data"
  destination = "/data"
